@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");

:root {
	--main: rgb(167, 193, 228);
}
* {
	font-family: "Poppins";
	font-weight: 400;
}

.accordion-wrapper {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.btn-accordion {
	border: 1px solid #d0cfee;
	/* box-shadow: inset 0px -0.1px 0px 0.9px rgba(0, 0, 0, 0.74); */
	/* box-shadow: -8px 9px 10px -8px rgba(0, 0, 0, 0.3); */
	color: rgb(32, 32, 32);
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	padding: 20px;
	text-align: left;
	outline: none;
	transition: background-color 0.4s ease-in-out;
	width: 100%;
}

.active,
.btn-accordion:hover {
	background-color: var(--main);
}

.accordion-panel {
	background-color: #fff;
	padding: 0 20px;
	height: 0px;
	overflow: hidden;
	transition: height 0.3s ease-in-out;
}
.accordion-panel.active {
	height: 250px;
}
